@page
@model PROYECTO_TIENDA.Pages.Catalogos.Vistas.BodegaModel
@{

}

<script type="module">
    import CreateTable from "../../js/TableComponent.js";

    const CargarDatos = async () => {
        let UrlBD = "../../api/ValuesControllerInventario/TraeBD";
        let response = await fetch(UrlBD, {
            method: "POST",
            headers: {
                'Content-Type': "application/json; charset=utf-8",
                'Accept': "*/*"
            }
        });
        response = await response.json();
        console.log(response);
        //CARGA DAÑADOS
        CreateTable(response, TableBodega);
        
    }
    CargarDatos();
</script>

<h2>BODEGA DE DAÑADOS</h2>
<table id="TableBodega" class="FrmTable">
    <thead>
    </thead>
    <tbody>
    </tbody>
</table>